.review-animation-enter {
  opacity: 0;
  transform: translateY(-3rem);
}
.review-animation-enter-active {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 500ms ease-in, transform 500ms ease-in;
}
.review-animation-exit {
  opacity: 1;
  transform: translateY(-3rem);
}
.review-animation-exit-active {
  opacity: 0;
  transform: translateY(0);
  transition: opacity 500ms ease-in, transform 500ms ease-in;
}
