.reviews {
  margin: 0 auto;
  padding: 12px;
  max-width: 884px;
  width: 100%;
}

.review-anim-enter {
  opacity: 0;
}
.review-anim-enter-active {
  opacity: 1;
  transition: opacity 1000ms ease-in;
}
