.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 60px;
  background: var(--black);
  position: relative;
  padding: 0 20px;
}

.header h2 {
  color: var(--white);
}

.currency {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.currency button {
  margin-right: 10px;
}
